<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include parts/head %>
  </head>
  <body>
    <% include parts/nav %>
    <div class="container">
      <h1>놀이터</h1>
      <hr>
      <p>마음껏 쳐 노세요!</p>
    </div>
  </body>
</html>
